#login-btn{
    background-color: blueviolet;
}
#sigin-btn{
    background-color: blueviolet;
}
#updatenote-btn{
    background-color: blueviolet;
}
#addnote-btn{
    background-color: blueviolet;
}
#noteTitle{
    color: blueviolet;
}
